@import url('https://fonts.googleapis.com/css?family=Cinzel');



.punch {
  margin: 5px;
  background-color: #fcfcfc;
  width: 900px;
  display: flex;
  align-items: center;
  font-family: 'Cinzel', serif;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(41,47,54,0.5);

  /* justify-content: space-between; */
}

span {
  padding: 5px;
}

.type {
  font-size: 30px;
  
  /* margin-right: 30px; */
}

.title {
  margin-left: 50px;
}

.data {
  font-family: 'Oswald', sans-serif;
  /* font-weight: bold; */
}


button {
  font-family: 'Cinzel', serif;
  font-size: 20px;
  border-radius: 2px;
  background-color: #007bfa;
  color: #fcfcfc;
  padding: 0 5px;
  margin: 0 5px;
  /* box-shadow: 0 1px 4px rgba(41,47,54,0.5); */

}


.deleteButton {
  background-color: #8c271e;
}